@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;800;900&display=swap');

* {
  font-family: 'Noto Sans', serif;
}

body {
  background-color: white;
  color: black;
  margin: 0;
}
